* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

.save-button {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.save-button:hover {
  background-color: #f1f1f1;
}

.container {
  display: flex;
  padding: 1rem;
}

.sidebar {
  width: 200px;
  background-color: #fff;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.sidebar h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.component-list {
  display: flex;
  flex-direction: column;
}

.component-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 4px;
}

.component-btn:hover {
  background-color: #f1f1f1;
}
.dropdown-content {
  display: none; /* Hidden by default */
  background-color: white;
  min-width: 140px; /* Adjust as needed */
  font-size: 12px;
  padding: 8px;
}
.show {
  display: block;
}
.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Align text and icon */
  align-items: center; /* Vertically center */
}

.dropdown-item:hover {
  background-color: #f1f1f1; /* Highlight on hover */
}

.icon {
  margin-left: auto; /* Push icon to the right */
}
.form-area {
  flex-grow: 1;
  padding: 1rem;
  background-color: #e8e8e8;
}

.form-element {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.form-element label {
  flex: 1;
  margin-right: 1rem;
  display: block;
  padding: 4px;
  font-size: 12px;
  font-weight: 700;
}

.form-element input,
.form-element select,
.form-element textarea {
  flex: 2;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.form-element textarea {
  height: 50px;
}
.element-config {
  display: flex;
  justify-content: flex-end;
}
.element-config-button {
  cursor: pointer;
  padding: 0.5rem;
}

.element-config-button:hover {
  color: #ff1a1a;
}

.draggable-div {
  cursor: grab;
}

.dragging {
  opacity: 0.5;
}

.highlight {
  border-top: 3px solid #3498db;
}

/* Modal part css */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.modal-content {
  padding: 20px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#editForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0rem;
}
#editForm div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#editForm input {
  padding: 8px;
}
#saveChangesButton {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

#saveChangesButton:hover {
  background-color: #f1f1f1;
}
#optionWrapperInEdit {
  display: flex;
  flex-direction: column;
  align-items: end;
}
#optionWrapperInEdit input {
}
